Binaries
DerivedDataCache
Intermediate
Saved
.DS_Store
.vscode
.vs
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
Source/AmazonPollyMetaHuman/ThirdParty/AwsSdk/Mac
Source/AmazonPollyMetaHuman/ThirdParty/AwsSdk/Win64

